.view-header__header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: rgba(var(--yellow-10-rgb), 0.666);
    backdrop-filter: blur(8px);
    position: absolute;
}

.view-header__heading {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    flex-grow: 1;
    margin: 6px 0px 8px 0;
}

.view-header__back-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
}

.view-header__back-anchor:hover {
  background-color: #fff;
}

.view-header__anchor-icon {
  fill: var(--teal);
}